/* .dise {
  opacity: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 10px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.dise.active {
  cursor: pointer;
  opacity: 1;
  user-select: auto;
  pointer-events: all;
}
.dise.isClicked {
  pointer-events: none;
} */

